@charset "utf-8";
/*取消 Html 原有樣式---------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{
	border:0;
	behavior:url("css/iepngfix.htc");
}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}

/*基本------------------------------------------*/
html { overflow:-moz-scrollbars-vertical; overflow-y:scroll;z-index: 999;font-size:15px;}
body{font-family: Helvetica, Arila,"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", sans-serif;background:url(../images/bg.gif) repeat-x;color:#000000;}
a {color:#4a4a4a;text-decoration:none;}

/*共用-----------------------------------------*/
#container {margin:0px auto;width:100%;}
#header{position:relative;float:left;width:100%;height:121px;background:url(../images/header_bg.gif) repeat-x;}
#logo h1 a{position:absolute;top:7px;left:10px;}
#content{position:relative;float:left;width:100%;}
#globalNav{position:absolute;bottom:0px;left:0px;width:100%;height:30px;background:#4a4a4a;line-height:30px;color:#ffffff;font-size:14px;z-index:1;}
#footer{position:relative;float:left;width:100%;height:30px;}
.copyright{position:absolute;font-size:12px;color:#4a4a4a;width:100%;right:15px;top:0px;border-top:1px solid #d9dee7;line-height:29px;text-align:right;}